* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: #56ab2f;
background: -webkit-linear-gradient(to right, #a8e063, #56ab2f);
background: linear-gradient(to right, #a8e063, #56ab2f);

}

.calc {
    display: flex;
    flex-direction: column;
    background-color: whitesmoke;
    width: 500px;
    margin: 40px auto;
    justify-content: center;
    border-radius: 5px;
    padding: 10px 20px;
    box-shadow: 4px 0px 5px rgba(0, 0, 0, 0.623);
}

h1 {
    text-align: center;
    padding: 10px 0;
}

.form-group {
    display: flex;
    flex-direction: column;
    gap: 5px;
    /* margin-bottom: 15px; */
}
.form-group input {
    padding: 5px 10px;
}

button {
    margin: 20px auto;
    padding: 5px 20px;
    color: white;
    background: #8dc44a;
    border: none;
    border-radius: 4px;
}

.details {
    background-color: rgb(255, 255, 255);
    padding: 15px 15px;
    border-radius: 4px;
    box-shadow: 2px 0px 4px rgba(0, 0, 0, 0.329);
    margin-bottom: 10px;
}
.details:empty {
    display: none;
}

.detail-section {
    margin: 15px 0;
    font-size: 14px;
}

.detail-section h3 {
    margin-bottom: 5px;
}
